p{
    color: aqua;
}
    *{
    background-color: rgb(207, 181, 181);
}
 p{
        column-rule-color: rgb(95, 13, 93);
    }
.submit{
        background-color: rgb(44, 137, 44);
    }
     #heading{
        color: rgb(255, 94, 0);
    }
    #follow:hover {
        background-color: rgb(115, 112, 213);
    }