 #parent{
            width: 100px;
            height: 100px;
            background-color: brown;
        }
        #child{
            width: 40%;
            height: 40%;
            background-color: yellow;
        }
        *{
            margin: 0;
        }