body{
    background-image: url(blank-black-corporate-stationery-on-600nw-1051434977.webp);
    background-size: cover;
    height: 100vh;
    width: 100vh;
}
  .container{
        background-color: white;
           height: 500px;
           width: 500px;
           margin: 100px;
           padding: 20px;
           background-image: url(images.jpg);
           background-size: contain;
           background-repeat: no-repeat;
           background-position: center;
        }
       